.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;

    & > * {
      margin-left: 10px;
    }
  }

.content {
  padding: 10px;
}